* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slide-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.button-container div {
  position: fixed;
  left: 30vw;
  top: 50vh;
  padding: 10px;
  font-size: 20px;
  background-color: white;
  color: #8d8d8d;
  cursor: pointer;
  z-index: 100;
}

.button-container div:hover {
  color: black;
}

.upBtn {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.downBtn {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.right-slides {
  width: 70vw;
  height: 100vh;
  position: relative;
  transition: 1s ease-in-out;
}

.left-slides {
  width: 30vw;
  height: 100vh;
  position: relative;
  transition: 1s ease-in-out;
  color: white;
}

.right-slides div {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: center;
}

.left-slides div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
